@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  .k-navbar-toggle-btn {
    position: absolute;
    top: 24px;
    right: 37px;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  #k-navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 147, 165);
  }
  #k-navbar.navbar--dark {
    padding: 16px;
  }
  .k-nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-left: 35px;
    padding: 5px 65px;
    display: none;
  }
  .k-nav-menu.open {
    display: block;
  }
  .k-section {
    padding: 16px;
    padding-top: 50px;
  }
  #k-about {
    background-color: rgb(255, 255, 255);
  }
  .k-about-inner {
    padding: 0;
    height: auto;
    width: 100%;
    margin-left: 0px;
  }
  .k-about-inner h1 {
    padding-top: 47px;
    margin: auto;
  }
  .k-about-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    margin-top: 20px;
  }
  .k-about-ux {
    flex-basis: 50%;
    flex-direction: column;
  }
  .k-about-ux-title {
    border: 1px solid transparent;
    width: 100%;
    background-color: rgb(216, 184, 184);
    border-radius: 25px;
  }
  .k-about-ux-title h2 {
    font-size: 22px;
  }
  .k-about-ux-content {}
  .k-about-ux-exp {
    margin: auto;
    border: 2px solid rgb(216, 184, 184);
    border-radius: 25px;
    margin-top: 25px;
  }
  .k-about-ux-exp-content {
    text-align: center;
  }
  .k-about-ux-items {
    background-color: #fff;
  }
  .k-ux {
    font-size: 14px;
  }
  .k-ux-name {
    padding: 0.3rem;
  }
  .k-ux-name-p {
    padding: 0.3rem;
    margin: 0;
  }
  .k-about-design {
    flex-basis: 50%;
    margin-left: 0px;
  }
  .k-about-design-title {
    border: 1px solid transparent;
    width: 100%;
    background-color: rgb(216, 184, 184);
    border-radius: 25px;
    font-size: 15px;
    margin-top: 30px;
  }
  .k-about-exp-title h2 {}
  .k-about-ela-content {}
  .k-about-ela-items,
  .k-about-sea-items {
    background-color: #fff;
    border: 2px solid rgb(216, 184, 184);
    border-radius: 25px;
    margin-top: 25px;
    height: auto;
  }
  .k-ela-company,
  .k-sea-company {
    width: 100%;
  }
  .k-ela-year,
  .k-sea-year {
    margin-top: 10px;
  }
  .k-ela-year,
  .k-ela-name,
  .k-ela-name-p {
    font-size: 14px;
  }
  .k-ela-year,
  .k-ela-name,
  .k-sea-year,
  .k-sea-name {
    padding: 0.3rem;
  }
  .k-ela-name-p {
    padding: 2px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .k-sea-year,
  .k-sea-name,
  .k-sea-name-p {
    /* border: 1px solid rgb(216, 184, 184); */
    background-color: #fff;
    font-size: 14px;
  }
  .k-sea-name4 {
    padding: 40px 5px;
  }
  .k-sea-name-p {
    margin-top: -25px;
    margin-bottom: -27px;
    padding: 2px 20px;
    border: none;
  }
  #k-skills {
    background-color: rgb(248, 158, 158);
    height: auto;
  }
  .k-skills-text {
    width: 100%;
    padding: 5px 15px;
    margin-top: -5px;
    margin-bottom: 9px;
  }
  .skillset {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .skills {
    display: grid;
    grid-auto-flow: row;
  }
  .skill-item1,
  .skill-item2,
  .skill-item3,
  .skill-item4,
  .skill-item5 {
    width: 90%;
    height: auto;
  }
  .skill-item1,
  .skill-item2,
  .skill-item3,
  .skill-item4 {
    border-bottom: 10px solid #fff;
  }
  .skillset-tools {
    height: auto;
    border-bottom: none;
    border-bottom-color: none;
  }
  .tools-item1,
  .tools-item2,
  .tools-item3,
  .etc-item {
    width: 90%;
  }
  #k-work {
    height: auto;
    margin-top: -50px;
  }
  .k-work-categories {
    margin-top: 30px;
  }
  .k-work-projects {
    width: 100%;
    margin-top: -10px;
  }
  .k-project {
    flex-grow: 1;
  }
  .k-category-btn {
    margin: 5px 0;
    width: 100%;
  }
  .k-contact-title {
    font-size: 32px;
  }
  #k-envelope,
  #k-link,
  #k-git {
    font-size: 25px;
    margin: 15px 0;
    margin-bottom: -9px;
    padding-top: 15px;
  }
  .k-email,
  .k-linkedln {
    font-size: 17px;
    margin: 3px;
  }
  .k-github {
    font-size: 16px;
    margin: 2px;
  }
  .k-contact-rights {
    font-size: 15px;
  }
  .k-arrow-up {
    position: fixed;
    bottom: 19px;
    right: 19px;
    width: 39px;
    height: 39px;
    line-height: 19px;
    font-size: 27px;
  }
}